
.bg-header {
    background-color: #F8F9FA;
}

.bg-light1 {
    background-color: #4C5A69;
}

.bg-light2 {
    background-color: #36424E;
}

.bg-footer {
    background-color: #5B6E82;
    box-shadow: 0 50vh 0 50vh #5B6E82;
}

.flex-parent {
    display: flex;
}
.jc-center {
    justify-content: center;
}

img {
    width: 200px;
    height: auto;
}

html {
    min-height: 100vh;
    display: flex;
}

body {
    flex: 1;
    min-height: 100vh;
    color:#F8F9FA;
}
 th, td {
     color: #F8F9FA;
 }

